<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta property="fb:app_id" content="671572696275219" />
  <meta property="fb:admins" content="100002020020729" /> 

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} {% if page.author %} - by {{ page.author }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/assets/bootstrap.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}"/>
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.url }}"/>
  <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.url }}"/>  
  <script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js?ver=3.9.2'></script>
  <script type="text/javascript" src="{{ "/assets/jquery.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/jquery.caroufredsel-6.0.4-packed.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript">
    // WebFont.load({
    //     google: {
    //         families: ['Source+Sans+Pro','Open+Sans::latin,vietnamese']
    //     }
    // });
  </script>
</head>
